/* inizio reset */
html {
  font-size:62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fine reset */

/* inizio regole generali */
body{
  font-family: 'Maven Pro', sans-serif;
}
nav{
  width: 80%;
  margin: auto;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* fine regole generali */

/* inizio header */
  header{
    color: white;
    background-color: #0b325a;
    height: 600px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 100%;
  }
  /* inizio nav */
    nav{
      padding-top: 1rem;
    }
    header nav .col{
      float: left;
    }
    header nav .logo{
      width: 12%;
    }
    header nav .menu-center{
      width: 48%;
    }
    header nav .menu-right{
      width: 40%;
      text-align: right;
    }
    header nav .menu{
      margin-top: 1.5rem;
    }
    header nav .menu li{
      display: inline-block;
    }
    header nav .menu li a{
      color: white;
      font-size: 1.5rem;
      margin-right: 1.5rem;
    }
    header nav .menu-center li a:hover{
      color: orange;
    }
    header nav .menu-right .login-btn{
      padding: 0.7rem 2.5rem;
      border: 0.2rem solid white;
      border-radius: 0.5rem;
    }
    header nav .menu-right .btn-green-nav{
      padding: 0.7rem 1rem;
      background-color: #3a9c06;
      border: 0.2rem solid #3a9c06;
      border-radius: 0.5rem;
    }
  /* fine nav */
  /* inizio call to action */
  header .cta{
    width: 55%;
    padding: 18rem 10%;
    text-align: left;
  }
  header .cta h1{
    font-size: 6rem;
    margin-bottom: 5rem;
  }
  header .cta .btn-green{
    color: white;
    font-size: 1.5rem;
    padding: 2rem 1.4rem;
    background-color: #3a9c06;
    border: 0.2rem solid #3a9c06;
    border-radius: 0.5rem;
  }


/* fine header */
