/* inizio reset */
html {
  font-size:62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fine reset */

/* inizio regole generali */
body{
  font-family: 'Maven Pro', sans-serif;
}
nav{
  width: 80%;
  margin: auto;
}
ul{
  list-style: none;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* fine regole generali */

/* inizio header */
  header{
    color: white;
    background-color: #0b325a;
    height: 600px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 100%;
  }
  /* inizio nav */
    nav{
      padding-top: 1rem;
    }
    header .col, main .col{
      float: left;
    }
    header nav .logo{
      width: 12%;
    }
    header nav .menu-center{
      width: 48%;
    }
    header nav .menu-right{
      width: 40%;
      text-align: right;
    }
    header nav .menu{
      margin-top: 1.5rem;
    }
    header nav .menu li{
      display: inline-block;
    }
    header nav .menu li a{
      color: white;
      font-size: 1.5rem;
      margin-right: 1.5rem;
      text-decoration: none;
    }
    header nav .menu-center li a:hover{
      color: orange;
    }
    header nav .menu-right .login-btn{
      padding: 0.7rem 2.5rem;
      border: 0.2rem solid white;
      border-radius: 0.5rem;
    }
    header nav .menu-right .btn-green-nav{
      padding: 0.7rem 1rem;
      background-color: #4bba0f;
      border: 0.2rem solid #4bba0f;
      border-radius: 0.5rem;
    }
  /* fine nav */
  /* inizio call to action */
  header .cta{
    width: 55%;
    padding: 18rem 10%;
    text-align: left;
  }
  header .cta h1{
    font-size: 6rem;
    margin-bottom: 5rem;
  }
  header .cta .btn-green{
    color: white;
    font-size: 1.5rem;
    padding: 2rem 1.4rem;
    background-color: #4bba0f;
    border: 0.2rem solid #4bba0f;
    border-radius: 0.5rem;
  }
  /* fine call to action */
/* fine header */

/* inizio main */
  /* inizio banner */
  main .banner{
    background-color: #c4c1b3;
    height: 20rem;
    padding: 5.8rem 0;
    text-align: center;
  }
  main .banner .title-banner{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
  }
  main .banner .text-banner{
    font-size: 2.2rem;
    color: #4a4948;
    font-weight: 500;
  }
  /* fine banner */

  /* inizio 3 columns infos */
  main .col-container{
    padding: 6rem 10%;
  }
  main .leftprofile, .centercomputer, .rightdoc{
    width:25%;
    text-align: center;
  }
  main .centercomputer, .rightdoc{
    margin-left: 10%;
  }
  main figure .profile{
    width:15rem;
    margin-bottom: 2rem;
  }
  main figure .computer{
    width: 24rem;
    margin-bottom: 3.3rem;
  }
  main figure .doc{
    width:17rem;
    margin-bottom: 3.3rem;
  }
  main figure figcaption{
    font-size: 2.8rem;
    color: #4bba0f;
    font-weight: 600;
  }
  main .divider{
    width: 8rem;
    margin: 2rem 40%;

  }
  main .text{
    font-size: 2rem;
    color: #4a4948;
    font-weight: 500;
    line-height: 2.5rem;
  }
  /* fine 3 columns infos */

  /* inizio 2 columns infos */
  main .line{
    border-top: 0.2rem solid lightgrey;
    margin: 0 4%;
  }
  main .leftmountain{
    padding: 0 3%;
  }
  main .leftmountain .mountain{
    width: 55rem;
  }
  main .right-text{
    width:35%;
    margin-left: 5%;
  }
  main .right-text .title-right{
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  main .call{
    font-size: 1.7rem;
    line-height: 6rem;
  }
  /* fine 2 columns infos */
/* fine main */
